body {
    background-color: aquamarine;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: rgb(9, 55, 206);
}

div {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    
}


main {
float: right;
padding-right: 200px;
padding-top: 400px;
}















footer {
    padding-top: 800px;
    text-align: center;
}
